header {
  position: relative;
  height: 80px;
  background-color: rgb(239, 160, 205);
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: none;
  transition: 500ms ease-in-out;
}

header.extendido::before{
  position: absolute;
  content: "";
  background-image: url(./../../../../assets/icons/img/Gemini_Generated_Image_qgvsflqgvsflqgvs.jpeg);
  background-position: center;
  background-size: cover ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

header.extendido::before{
  opacity: .5;
}

h1 {
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 20px;
  align-items: center;
}

.extendido {
  height: 200px;
  background-color: unset;
}

.fade-in {
  animation: fade 250ms ease-in-out backwards;
}

.fade-out {
  animation: fade 250ms ease-in-out;
}


@keyframes fade-out {
  100% {
    opacity: 0%;
  }
}
